#body_{
    background-color:#F0F5F5;
}

#regView {
}

.regVal{
    width: 50px;
}

#editor{
    width: 630px;
    height: 500px;
    border: 1px solid rgba(136,164,155, 0.7)
}
#editorPanel{
    padding-left: 1em;
}

#dashboard{
    padding-left: 1em;
}

#stdin_{
    width:300px;
    height:50px;
}

#stdout_{
    width: 300px;
    height: 100px;
}

img{
    height: 30px;
    width: auto;
}