#body_{
    background-color:#F0F5F5;
}

#regView {
    float: left;
}

.regVal{
    width: 50px;
}

#editor{
    float: right;
    width: 630px;
    height: 500px;
    border: 1px solid rgba(136,164,155, 0.7)
}

#stdin_{
    width:730px;
    height:50px;
}

#stdout_{
    width: 730px;
    height: 100px;
}

img{
    height: 50px;
    width: auto;
}